---
// SPDX-License-Identifier: Elastic-2.0
---
<footer class="section" id="site-footer">
  <p>
    <a href="https://github.com/pdbethke/corralai">github.com/pdbethke/corralai</a>
    · Elastic License 2.0 · built by a herd, wrangled by a human.
  </p>
</footer>
